__pycache__/
.composio.lock
.coverage
.DS_Store
.env
.venv/
.vscode/settings.json
# @/
# *.html
cache/
checkpoints/
data/etf.csv
data/stock.csv
db/
debug/
docs/test.md
logs/*.log
output/
prompts.md
prompts.txt
report.md
reports/
src/epic_news.egg-info/
traces/