__pycache__/
.composio.lock
.coverage
.DS_Store
.env
.venv/
.vscode/settings.json
# @/
# *.html
# output/
cache/
checkpoints/
data/etf.csv
data/stock.csv
db/
debug/
docs/test.md
prompts.md
prompts.txt
report.md
reports/
src/epic_news.egg-info/
logs/epic_news_error.log
logs/epic_news.log
output/
